<section id="invoices-content">
	<h2>Invoices</h2>
	<?php echo $this->partial('invoices/_menu')?>
	<table id="invoices" style="width: 660px;">
		<thead>
			<tr>
				<th>ID</th>
				<th>Hash</th>
				<th>Transaction status</th>
				<th>Options</th>
			</tr>
		</thead>
		<tbody>
			<?php
			foreach ($invoices as $invoice):
				$transaction = $invoice->transaction();
			?>
			<tr>
				<td><?php echo $invoice->id()?></td>
				<td><?php echo $invoice->hash()?></td>
				<td><?php echo $transaction ? $transaction->status() : ''?></td>
				<td>
					<ul>
						<li><a href="/admin/invoices/view/<?php echo $invoice->id()?>">view</a></li>
					</ul>
				</td>
			</tr>
			<?php endforeach;?>
		</tbody>
	</table>
</section>