<section id="breadcrumbs">
	<a href="/admin/sales"><i class="fa fa-pie-chart"></i> ...back to Sales main page</a>
</section>
<section id="inventory-content">
	<?php if(isset($invoice)):?>
	<article id="invoice" class="edit">
		<h2>View Invoice #<?php echo $invoice->id()?></h2>
		<form method="post" action="/admin/invoices/update/<?php echo $invoice->id()?>">
			<dl>
				<dt>ID</dt>
				<dd><input type="number" name="invoice[id]" value="<?php echo $invoice->id()?>" readonly="readonly"></dd>
				<dt>Hash</dt>
				<dd><input type="text" name="invoice[hash]" value="<?php echo $invoice->hash()?>" readonly="readonly"></dd>
				<dt>Total</dt>
				<dd><input type="text" name="invoice[total]" value="<?php echo $invoice->total()?>" readonly="readonly"></dd>
				<dt>Currency</dt>
				<dd><input type="text" name="invoice[currency]" value="<?php echo $invoice->currency()?>" readonly="readonly"></dd>
			</dl>
		</form>
	</article>
	<article id="invoice-items" class="edit">
		<?php
		$items = $invoice->items();
		if(!empty($items)):?>
		<h2>Items in Invoice #<?php echo $invoice->id()?></h2>
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Amount</th>
					<th>Total</th>
					<th><i class="fa fa-cogs"></i> Options</th>
				</tr>
			</thead>
			<tbody>
				<?php foreach ($items as $item):?>
					<tr>
						<td><?php echo $item->product()->name()?></td>
						<td><?php echo $item->amount()?></td>
						<td><?php echo $item->total()?></td>
						<td>
							<ul class="options">
								<li>
									<!-- <a title="Remove the product '<?php echo $item->product()->name()?>'" href="/admin/products/remove/<?php echo $item->product()->id()?>"><i class="fa fa-trash-o"></i></a> -->
								</li>
							</ul>
						</td>
					</tr>
				<?php endforeach?>
			</tbody>
			<tfoot>
				<tr>
					<th colspan="4">
						<ul class="options">
							<li><a title="import list" href="#"><i class="fa fa-upload"></i></a></li>
							<li><a title="export list" href="#"><i class="fa fa-download"></i></a></li>
						</ul>
					</th>
				</tr>
			</tfoot>
		</table>
		<?php endif?>
	</article>
	<article id="invoice-delivery" class="edit">
		<?php
		$delivery = $invoice->delivery();
		if(!empty($delivery)):?>
		<h2>Invoice #<?php echo $invoice->id()?> Delivery Address</h2>
		<address>
			<dl>
				<dt>Name</dt>
				<dd><?php echo $delivery->fullname()?></dd>
				<dt>Address</dt>
				<dd><?php echo $delivery->address1()?></dd>
				<dt>Postalcode</dt>
				<dd><?php echo $delivery->postalcode()?></dd>
				<dt>City</dt>
				<dd><?php echo $delivery->city()?></dd>
			</dl>
		</address>
		<?php endif?>
	</article>
	<article id="invoice-service" class="edit">
		<?php
		$service = $invoice->deliveryService();
		if(!empty($service)):?>
		<h2>Invoice #<?php echo $invoice->id()?> Delivery Service</h2>
		<dl>
			<dt>Name</dt>
			<dd><?php echo $service->name()?></dd>
			<dt>Label</dt>
			<dd><?php echo $service->label()?></dd>
			<dt>Price</dt>
			<dd><?php echo $service->price()?></dd>
		</dl>
		<?php endif?>
	</article>
	<article id="invoice-billing" class="edit">
		<?php
		$billing = $invoice->billing();
		if(!empty($billing)):?>
		<h2>Invoice #<?php echo $invoice->id()?> Billing Address</h2>
		<address>
			<dl>
				<dt>Name</dt>
				<dd><?php echo $billing->fullname()?></dd>
				<dt>Address</dt>
				<dd><?php echo $billing->address1()?></dd>
				<dt>Postalcode</dt>
				<dd><?php echo $billing->postalcode()?></dd>
				<dt>City</dt>
				<dd><?php echo $billing->city()?></dd>
			</dl>
		</address>
		<?php endif?>
	</article>
	<article id="invoice-contact" class="edit">
		<?php
		$contact = $invoice->contactInformation();
		if(!empty($contact)):
			$emails = $contact->emails();
			$phones = $contact->phones();
		?>
		<h2>Invoice #<?php echo $invoice->id()?> Contact Information</h2>
		<dl>
			<dt>Emails</dt>
			<?php foreach ($emails as $email):?>
			<dd><?php echo $email->emailAddress()?></dd>
			<?php endforeach;?>
			<dt>Phones</dt>
			<?php foreach ($phones as $phone):?>
			<dd><?php echo $phone->emailAddress()?></dd>
			<?php endforeach;?>
		</dl>
		<?php endif?>
	</article>
	<article id="invoice-transaction" class="edit">
		<?php
		$transaction = $invoice->transaction();
		if(!empty($transaction)):?>
		<h2>Invoice #<?php echo $invoice->id()?> Transaction</h2>
		<dl>
			<dt>Gateway</dt>
			<dd><?php echo $transaction->gateway()->name()?></dd>
			<dt>Gateway-transaction-ID</dt>
			<dd><?php echo $transaction->gatewayTransactionID()?></dd>
			<dt>Status</dt>
			<dd><?php echo $transaction->status()?></dd>
		</dl>
		<?php endif?>
	</article>
	<?php endif;?>
</section>