<nav id="sales-menu" class="big">
	<ul>
		<li><a title="Promotions" href="/admin/sales/promotions"><i class="fa fa-bullhorn"></i> Promotions</a></li>
		<li><a title="Orders" href="/admin/orders"><i class="fa fa-book"></i> Orders</a></li>
		<li><a title="Transactions" href="/admin/transactions"><i class="fa fa-bank"></i> Transactions</a></li>
		<li><a title="Invoices" href="/admin/invoices"><i class="fa fa-table"></i> Invoices</a></li>
	</ul>
</nav>