<?php
?>
<section id="breadcrumbs">
	<a href="/admin/sales"><i class="fa fa-pie-chart"></i> ...back to Sales main page</a>
</section>
<section id="promotions-content">
	<h2><i class="fa fa-bullhorn"></i> Promotions</h2>
	<nav>
		<ul>
			<li><a href="#">Current Promotions</a></li>
			<li><a href="#">Scheduled Promotions</a></li>
			<li><a href="#">Old Promotions</a></li>
		</ul>
		<ul>
			<li><a href="/admin/promotions/create">Add new Promotion</a></li>
		</ul>
	</nav>
</section>