<section id="breadcrumbs">
	<a href="/admin/catalogue/categories"><i class="fa fa-shopping-bag"></i> ...back to Categories page</a>
</section>
<section id="inventory-content">
	<?php if(isset($category)):?>
	<form method="post" action="/admin/categories/update/<?php echo $category->id()?>">
		<article id="category" class="edit">
			<h2>Edit <?php echo $category->name()?></h2>
				<dl>
					<dt>ID</dt>
					<dd><input type="number" name="category[id]" value="<?php echo $category->id()?>" readonly="readonly"></dd>
					<dt>Name</dt>
					<dd><input type="text" name="category[name]" value="<?php echo $category->name()?>"></dd>
					<dt>Description</dt>
					<dd><textarea name="category[description]"><?php echo $category->description()?></textarea></dd>
				</dl>
		</article>
		<article id="category-products" class="edit">
			<h2>Products in <?php echo $category->name()?></h2>
			<table>
				<thead>
					<tr>
						<th>Included</th>
						<th>Product</th>
					</tr>
				</thead>
				<tbody>
				<?php $products = $category->products();
				foreach ($products as $product):?>
					<tr>
						<td>
							<input type="checkbox" checked="checked" title="Un-check to exclude '<?php echo $product->name()?>' from '<?php echo $category->name()?>'">
						</td>
						<td><?php echo $product->name()?></td>
					</tr>
				<?php endforeach;?>
				</tbody>
			</table>
		</article>
		<input type="submit" value="update">
		<input type="hidden" name="<?php echo $this->security->getTokenKey() ?>" value="<?php echo $this->security->getToken() ?>"/>
	</form>
	<?php endif;?>
</section>