<nav id="header-nav" class="">
	<?php if($this->auth->sessionAuthed()):?>
		<ul>
			<li>
				<form method="post" action="/login/auth">
					<input type="submit" value="logout">
					<input type="hidden" name="<?php echo $this->security->getTokenKey() ?>" value="<?php echo $this->security->getToken() ?>"/>
				</form>
			</li>
		</ul>
	<?php endif?>
</nav>