<section id="breadcrumbs">
	<a href="/admin/catalogue"><i class="fa fa-shopping-bag"></i> ...back to Catalogue main page</a>
</section>
<section id="inventory-content">
	<?php if(isset($product)):?>
	<article id="product" class="edit">
		<h2>Edit <?php echo $product->name()?></h2>
		<form method="post" action="/admin/products/update/<?php echo $product->id()?>">
			<dl>
				<dt>ID</dt>
				<dd><input type="number" name="product[id]" value="<?php echo $product->id()?>" readonly="readonly"></dd>
				<dt>Catalogue Price</dt>
				<dd><input type="number" name="product[price]" value="<?php echo $product->price()?>"></dd>
				<dt>Name</dt>
				<dd><input type="text" name="product[name]" value="<?php echo $product->name()?>"></dd>
				<dt>Description</dt>
				<dd><textarea name="product[description]"><?php echo $product->description()?></textarea></dd>
			</dl>
			<input type="submit" value="update">
			<input type="hidden" name="<?php echo $this->security->getTokenKey() ?>" value="<?php echo $this->security->getToken() ?>"/>
		</form>
	</article>
	<article id="product-promotions" class="edit">
		<h2>Promotions with <?php echo $product->name()?></h2>
	</article>
	<?php endif;?>
</section>