<?php
$catalog = $this->shop->catalog();
?><section id="inventory-content">
	<h2>2-bissen Administration, Products</h2>
	<nav id="products-menu">
		<ul>
			<li><a title="Products" href="/admin/products"><i class="fa fa-cubes">Products</i></a></li>
			<li><a title="Shipments" href="/admin/products"><i class="fa fa-truck">Shipments</i></a></li>
			<li><a title="Inventory" href="/admin/inventory"><i class="fa fa-building">Inventory</i></a></li>
			<li><a title="Options" href="/admin/cart"><i class="fa fa-cogs">Options</i></a></li>
		</ul>
	</nav>
</section>