<?php
$catalog = $this->shop->catalog();
?><section id="inventory-content">
	<h2>2-bissen Administration, Products</h2>
	<table id="products" style="width: 660px;">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Options</th>
			</tr>
		</thead>
		<tbody>
			<?php foreach ($catalog->products() as $product):?>
			<tr>
				<td><?php echo $product->id()?></td>
				<td><?php echo $product->name()?></td>
				<td>
					<ul>
						<li><a href="/admin/products/edit/<?php echo $product->id()?>">edit</a></li>
					</ul>
				</td>
			</tr>
			<?php endforeach;?>
		</tbody>
	</table>
</section>