<?php
?><!DOCTYPE html>
<html>
	<head>
		<?php echo $this->tag->getTitle()?>
		<style type="text/css">
			@import url('/css/reset.css');
			@import url('/css/admin.css');
			@import url('/css/cart-admin.css');
		</style>
		<?php echo $this->cmsclient->styles()?>
		<?php echo $this->cmsclient->scripts('head')?>
	</head>
	<body>
		<header>
			<h1>2-bissen administration</h1>
			<?php echo $this->partial('menu/main')?>
		</header>
		<?php echo $this->partial('menu/secondary')?>
		<section class="content">
		<?php echo $this->getContent()?>
		</section>
		<footer>
			<?php echo $this->partial('footer')?>
		</footer>
		<?php echo $this->cmsclient->scripts('footer')?>
	</body>
</html>