<?php
$token = $this->security->getToken();
$tokenKey = $this->security->getTokenKey();
?><section id="inventory-content">
	<h2>2-bissen Administration, Edit asset</h2>
	<h4>Basic asset data</h4>
	<form method="post" action="/admin/assets/update">
		<dl class="shipment">
			<dt>Name</dt>
			<dd><input type="text" value="<?php echo $asset->name()?>"></dd>
			<dt>Mimetype</dt>
			<dd><input type="text" value="<?php echo $asset->mimetype()->name()?>"></dd>
			<dt>File</dt>
			<dd><input type="text" value="<?php echo $asset->filepath()?>"></dd>
			<dt>Url</dt>
			<dd><input type="text" value="<?php echo $asset->url()?>"></dd>
			<dd><input type="submit" value="update"></dd>
		</dl>
		<input type="hidden" name="<?php echo $tokenKey ?>" value="<?php echo $token ?>"/>
	</form>
	<h4>Asset usage</h4>
	<form method="post" action="/admin/assets/update">
		<dl class="shipment">
			<dt>Name</dt>
			<dd><input type="text" value="<?php echo $asset->name()?>"></dd>
			<dt>Mimetype</dt>
			<dd><input type="text" value="<?php echo $asset->mimetype()->name()?>"></dd>
			<dt>File</dt>
			<dd><input type="text" value="<?php echo $asset->filepath()?>"></dd>
			<dt>Url</dt>
			<dd><input type="text" value="<?php echo $asset->url()?>"></dd>
			<dd><input type="submit" value="update"></dd>
		</dl>
		<input type="hidden" name="<?php echo $tokenKey ?>" value="<?php echo $token ?>"/>
	</form>
</section>
<script type="text/javascript">
$(document).ready(function(){
	$('input[name="alternate_delivery_address"]').click(function(event){
		$checkbox = $(event.target);
		if($checkbox.is(':checked')){
			$('#delivery_address').show();
		}
		else{
			$('#delivery_address').hide();
		}
	});

	$('a[href="#payment"]').click(function(event){
		event.stopPropagation();
		event.preventDefault();
		$anchor = $(event.target);
		$('form[action="/shop/order"]').submit();
		return false;
	});
});
</script>