<?php
$cart = $this->cart;
$size = $cart->size();
textdomain("cart"); // use a new text domain, have gettext change to use cart.mo
?>
<?php if($this->shop->enabled()):?>
<section id="cart">
	<h2><?php echo _('Cart contents:')?></h2>
	<table class="cart-compact">
		<tbody>
			<?php for($i = 0; $i < $size; $i++):
				$item = $cart->itemAt($i)?>
			<tr>
				<td>
					<?php echo $item->product()->name()?>
				</td>
				<td>
					<?php echo $item->amount()?>
				</td>
			</tr>
			<?php endfor;?>
		</tbody>
	</table>
	<nav id="cart-options">
		<ul>
			<li><a href="/shop/cart"><?php echo dgettext('cart', 'view cart')?></a></li>
			<li><a href="/shop/cart"><?php echo dgettext('cart', 'checkout')?></a></li>
		</ul>
	</nav>
</section>
<?php endif?>