<?php
use supervillainhq\core\locale\CurrencyFormatter;

textdomain('cart');

?>
<h4><?php echo _('Your Order')?></h4>
<table id="order_summary" class="shop_contentwidetable">
	<thead>
		<tr>
			<th><?php echo _('Items')?></th>
			<th><?php echo _('Amount')?></th>
			<th><?php echo _('Total')?></th>
		</tr>
	</thead>
	<tbody>
		<?php for($i = 0; $i < count($items); $i++):?>
		<?php $item = $items[$i]?>
		<tr>
			<td><?php echo $item->product()->name()?></td>
			<td><?php echo $item->amount()?></td>
			<td><?php echo CurrencyFormatter::money($item->total())?></td>
		</tr>
		<?php endfor;?>
		<tr>
			<td colspan="2"><?php echo _('VAT Included')?></td>
			<td><?php echo CurrencyFormatter::money($cartVat)?>
			(<?php echo CurrencyFormatter::percentage($cartVatValue)?>
			of
			<?php echo CurrencyFormatter::money($cartTotal)?>)</td>
		</tr>
		<tr>
			<td colspan="2"><?php echo _('Products')?></td>
			<td><?php echo CurrencyFormatter::money($cartTotal)?></td>
		</tr>
	</tbody>
</table>
<table id="address_summary" class="shop_contentwidetable">
	<thead>
		<tr>
			<th><?php echo _('Invoiced to')?></th>
			<th><?php echo _('Delivered to')?></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<address>
					<p><?php echo $invAddress->fullname()?></p>
					<p><?php echo $invAddress->address1()?></p>
					<p><?php echo $invAddress->postalcode()?> <?php echo $invAddress->city()?></p>
					<p><?php echo $invAddress->country()?></p>
				</address>
			</td>
			<td>
				<address>
					<p><?php echo $delAddress->fullname()?></p>
					<p><?php echo $delAddress->address1()?></p>
					<p><?php echo $delAddress->postalcode()?> <?php echo $delAddress->city()?></p>
					<p><?php echo $delAddress->country()?></p>
				</address>
			</td>
		</tr>
	</tbody>
</table>
<table id="delivery_summary" class="shop_contentwidetable">
	<thead>
		<tr>
			<th colspan="2"><?php echo _('Delivery by')?></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<?php echo $delivery->name()?>
			</td>
			<td>
				<?php echo CurrencyFormatter::money($delivery->price())?>
			</td>
		</tr>
	</tbody>
</table>
<table id="invoice_summary" class="shop_contentwidetable">
	<tbody>
		<tr>
			<td>
				<?php echo _('Total')?>
			</td>
			<td>
				<?php echo CurrencyFormatter::money($total)?>
			</td>
		</tr>
	</tbody>
</table>
