<?php
use supervillainhq\core\contacts\Address;
use supervillainhq\core\mail\Email;

textdomain('cart');

$cart = $this->cart;
$size = $cart->size();
$checkedAlternateDeliveryAddress = $shopper->hasAlternateDeliveryAddress() ? ' checked="checked"' : '';
?>
<section id="checkout">
	<section class="cart-contents">
		<p><?php $this->flash->output() ?></p>
		<h2><?php echo _('Input addresses')?></h2>
		<form method="post" action="/shop/order">
			<dl>
				<dt><?php echo _('Use alternate delivery address?')?></dt>
				<dd><input type="checkbox" name="alternate_delivery_address" value="yes"<?php echo $checkedAlternateDeliveryAddress?>></dd>
			</dl>
			<?php
			$context = [
					'name' => 'invoice'
			];
			$address = $shopper->getAddress($context['name']);
			# display a list of form elements for an address used for invoice address information
			echo $this->partial('shop/address')?>
			<?php
			$context = [
					'name' => 'delivery'
			];
			$address = $shopper->hasAddressAtKey($context['name']) ? $shopper->getAddress($context['name']) : new Address();
			# display a list of form elements for an address used for delivery address information
			echo $this->partial('shop/address')?>
			<?php
			$context = [
					'name' => 'contact'
			];
			# display a list of form elements for contact information
			$email = $shopper->hasEmailAtKey($context['name']) ? $shopper->getEmail($context['name']) : new Email('');
			echo $this->partial('shop/contact_info')?>
			<input type="hidden" name="next_checkout_step" value="select-payment"/>
			<input type="hidden" name="<?php echo $this->security->getTokenKey() ?>" value="<?php echo $this->security->getToken() ?>"/>
		</form>
	</section>
	<section id="cart-options">
		<a href="#payment"><?php echo _('Go to delivery options')?></a>
	</section>
</section>
<script type="text/javascript">
$(document).ready(function(){
	<?php if($shopper->hasAlternateDeliveryAddress()):?>
	$('#delivery_address').show();
	<?php else:?>
	$('#delivery_address').hide();
	<?php endif?>

	$('input[name="alternate_delivery_address"]').click(function(event){
		$checkbox = $(event.target);
		if($checkbox.is(':checked')){
			$('#delivery_address').show();
		}
		else{
			$('#delivery_address').hide();
		}
	});

	$('a[href="#payment"]').click(function(event){
		event.stopPropagation();
		event.preventDefault();
		$anchor = $(event.target);
		$('form[action="/shop/order"]').submit();
		return false;
	});
});
</script>