<dl id="<?php echo $context['name']?>_address" class="contactinfo">
	<dt><?php echo _('Full name')?></dt>
	<dd><input type="text" name="<?php echo $context['name']?>[fullname]" value="<?php echo $address->fullname()?>"></dd>
	<?php if(false!==stripos($context['name'], 'delivery')):?>
		<dt><?php echo _('ATT')?>:</dt>
		<dd><input type="text" name="<?php echo $context['name']?>[att]" value="<?php echo $address->att()?>"></dd>
	<?php endif;?>
	<dt><?php echo _('Address')?></dt>
	<dd><input type="text" name="<?php echo $context['name']?>[address1]" value="<?php echo $address->address1()?>"></dd>
	<dt><?php echo _('Address2')?></dt>
	<dd><input type="text" name="<?php echo $context['name']?>[address2]" value="<?php echo $address->address2()?>"></dd>
	<dt><?php echo _('Postal code')?></dt>
	<dd><input type="text" name="<?php echo $context['name']?>[postalcode]" value="<?php echo $address->postalcode()?>"></dd>
	<dt><?php echo _('City')?></dt>
	<dd><input type="text" name="<?php echo $context['name']?>[city]" value="<?php echo $address->city()?>"></dd>
	<dt><?php echo _('Country')?></dt>
	<dd><input type="text" name="<?php echo $context['name']?>[country]" value="<?php echo $address->country()?>"></dd>
</dl>