<?php
use supervillainhq\core\locale\CurrencyFormatter;

textdomain('cart');

$cart = $this->cart;
$size = $cart->size();
?>
<section id="checkout">
	<section class="cart-contents">
		<h2><?php echo _('Your Cart contents')?></h2>
		<table>
			<thead>
				<tr>
					<th><?php echo _('Product')?></th>
					<th><?php echo _('Amount')?></th>
					<th><?php echo _('Item price')?></th>
				</tr>
			</thead>
			<tbody>
				<?php for($i = 0; $i < $size; $i++):
					$item = $cart->itemAt($i)?>
				<tr class="cart-item">
					<td width="200">
						<p><?php echo $item->product()->name()?></p>
					</td>
					<td>
						<input type="number" value="<?php echo $item->amount()?>">
					</td>
					<td width="200">
						<?php echo CurrencyFormatter::money($item->total())?> (<?php echo $item->amount()?> x <?php echo CurrencyFormatter::money($item->price())?>)
					</td>
					<td>
						<ul class="cart-item-options">
							<li>
								<a href="#update" title="update">
									<img alt="update" src="/images/icons/16x16/basket_edit.png">
								</a>
							</li>
							<li>
								<a href="#update" title="remove product">
									<img alt="remove product" src="/images/icons/16x16/basket_remove.png">
								</a>
							</li>
						</ul>
					</td>
				</tr>
				<?php endfor;?>
				<tr>
					<td colspan="3" class="cart-total">
						<p>VAT Included: (<?php echo CurrencyFormatter::percentage($cart->vatValue())?> of <?php echo CurrencyFormatter::money($cart->total())?>) <?php echo CurrencyFormatter::money($cart->vat())?></p>
					</td>
				</tr>
				<tr>
					<td colspan="3" class="cart-total">
						<p>Total: <?php echo CurrencyFormatter::money($cart->total())?></p>
					</td>
				</tr>
			</tbody>
		</table>
	</section>
	<section id="cart-options">
		<form method="post" action="/shop/order">
			<input type="hidden" name="next_checkout_step" value="input-addresses"/>
			<input type="hidden" name="<?php echo $this->security->getTokenKey() ?>" value="<?php echo $this->security->getToken() ?>"/>
			<a href="#place_order"><?php echo _('Check-out')?></a>
		</form>
	</section>
</section>
<script type="text/javascript">
$(document).ready(function(){
	$('a[href="#place_order"]').click(function(event){
		event.stopPropagation();
		event.preventDefault();
		$anchor = $(event.target);
		$('form[action="/shop/order"]').submit();
		return false;
	});
});
</script>