<?php
textdomain('cart');

$cart = $this->cart;
$size = $cart->size();
?>
<section id="checkout">
	<section class="cart-contents">
		<h2>Cart contents</h2>
		<?php for($i = 0; $i < $size; $i++):
			$item = $cart->itemAt($i)?>
		<article class="cart-item">
			<p>Product: <?php echo $item->product()->id()?></p>
			<p>Amount: <?php echo $item->amount()?></p>
		</article>
		<?php endfor;?>
		<article class="cart-total">
			<p>Total: <?php echo $cart->total()?></p>
		</article>
	</section>
	<section id="cart-options">
		<p>Køb 2-bissen wobler</p>
		<form method="post" action="/shop/order">
			<input type="hidden" name="next_checkout_step" value="input-addresses"/>
			<input type="hidden" name="<?php echo $this->security->getTokenKey() ?>" value="<?php echo $this->security->getToken() ?>"/>
			<a href="#place_order">Place Order</a>
		</form>
	</section>
</section>
<script type="text/javascript">
$(document).ready(function(){
	$('a[href="#place_order"]').click(function(event){
		event.stopPropagation();
		event.preventDefault();
		$anchor = $(event.target);
		$('form[action="/shop/order"]').submit();
		return false;
	});
});
</script>