<dl id="<?php echo $context['name']?>_contact_info" class="contactinfo">
	<dt><?php echo _('Email')?></dt>
	<dd><input type="text" name="<?php echo $context['name']?>[email]" value="<?php echo $email->emailAddress()?>"></dd>
	<dt><?php echo _('Phone')?></dt>
	<dd><input type="text" name="<?php echo $context['name']?>[phone]" value=""></dd>
</dl>