<?php
use supervillainhq\core\locale\CurrencyFormatter;

textdomain('cart');

$cart = $this->cart;
$size = $cart->size();
?>
<section id="checkout">
	<section class="cart-contents">
		<h2><?php echo _('Delivery Service')?></h2>
		<form method="post" action="/shop/order">
			<table id="delivery_options" class="shop_contentwidetable">
				<thead>
					<tr>
						<th><?php echo _('Select Delivery Service')?></th>
						<th><?php echo _('Cost')?></th>
					</tr>
				</thead>
				<tbody>
					<?php foreach ($services as $key => $deliveryService):?>
					<tr>
						<td>
							<input type="radio" name="delivery" id="<?php echo "option_{$key}"?>" value="<?php echo $key?>">
							<label for="<?php echo "option_{$key}"?>"><?php echo str_ireplace(':store', $this->shop->name(), $deliveryService->label())?></label>
						</td>
						<td id="price_<?php echo $key?>" data-price="<?php echo $deliveryService->price()?>">
							<span class="cart-mono"><?php echo CurrencyFormatter::money($deliveryService->price())?></span>
						</td>
					</tr>
					<?php endforeach;?>
					<tr>
						<td><?php echo _('Order Total (including your selected delivery option)')?></td>
						<td><span id="total-inc-delivery" class="cart-mono"><?php echo CurrencyFormatter::money($cart->total())?></span></td>
					</tr>
				</tbody>
			</table>
			<input type="hidden" name="next_checkout_step" value="select-delivery"/>
			<input type="hidden" name="<?php echo $this->security->getTokenKey() ?>" value="<?php echo $this->security->getToken() ?>"/>
		</form>
	</section>
	<section id="cart-options">
		<a href="#payment"><?php echo _('Place Order')?></a>
	</section>
</section>
<script type="text/javascript">
	var currencyFormat = '<?php echo CurrencyFormatter::money(0)?>';
	var total = <?php echo $cart->total()?>;
	var deliveryOptions = {
			<?php foreach ($services as $key => $deliveryService){
				echo '"' . $key . '" : ' . json_encode($deliveryService->toObject()) . ",\n";
			}?>
	};

	$(document).ready(function(){
		$('input[type="radio"]').change(function(event){
			var radio = $(event.target);
			var key = radio.val();
			var delivery = deliveryOptions[key];
			var newTotal = (total + parseInt(delivery.price)) / 100;

			$('span#total-inc-delivery').text(currencyFormat.replace('0', newTotal));
		});

		$('a[href="#payment"]').click(function(event){
			event.stopPropagation();
			event.preventDefault();
			$anchor = $(event.target);
			$('form[action="/shop/order"]').submit();
			return false;
		});
	});
</script>