<?php
$cart = $this->cart;
?>
<section id="checkout">
	<section class="cart-contents">
		<h2>Invoice</h2>
	</section>
	<section id="cart-options">
		<ul>
			<li><a href="#payment">Download pdf</a></li>
			<li><a href="#payment">Print</a></li>
		</ul>
	</section>
</section>