<?php
use supervillainhq\lexcorp\microshop\MicroCartItem;

textdomain('cart');

/**
 * Implied vars. Should be set by controller instance:
 * - $shopper
 */
$session = $this->shop->getCheckoutSession();
$cart = $session->cart();
/**
 * Prep vars required by partial '_checkout':
 * - $cart
 * - $items
 * - $delivery
 * - $total
 * - $invAddress
 * - $delAddress
 */
$cartVat = $cart->vat();
$cartVatValue = $cart->vatValue();
$cartItems = $cart->items();
$cartTotal = $cart->total();
$items = [];
foreach ($cartItems as $item){
	array_push($items, MicroCartItem::inflate($item));
}
$delivery = $session->deliveryService();
$total = $delivery->price() + $cart->total();
$invAddress = $shopper->getAddress('invoice');
$delAddress = $shopper->hasAlternateDeliveryAddress() ? $shopper->getAddress('delivery') : $invAddress;

?>
<section id="checkout">
	<section class="cart-contents">
		<h2><?php echo _('Summary &amp; Terms and conditions')?></h2>
		<?php echo $this->partial('shop/_checkout')?>
		<form method="post" action="/shop/order">
			<dl>
				<dt><?php echo _('Terms and conditions')?> <a href="#"><?php echo _('read the terms and conditions')?></a></dt>
				<dd><input type="checkbox" name="terms" id="terms" value="yes"> <label for="terms"><?php echo _('I have read the terms and agree')?></label></dd>
			</dl>
			<input type="hidden" name="next_checkout_step" value="place-order"/>
			<input type="hidden" name="<?php echo $this->security->getTokenKey() ?>" value="<?php echo $this->security->getToken() ?>"/>
		</form>
	</section>
	<section id="cart-options">
		<a href="#payment"><?php echo _('Start payment')?></a> <?php echo _('(payment window at epay.dk)')?>
	</section>
</section>
<script type="text/javascript">
$(document).ready(function(){
	$('#delivery_address').hide();

	$('input[name="alternate_delivery_address"]').click(function(event){
		$checkbox = $(event.target);
		if($checkbox.is(':checked')){
			$('#delivery_address').show();
		}
		else{
			$('#delivery_address').hide();
		}
	});

	$('a[href="#payment"]').click(function(event){
		event.stopPropagation();
		event.preventDefault();
		$anchor = $(event.target);
		$('form[action="/shop/order"]').submit();
		return false;
	});
});
</script>