<?php
// use supervillainhq\lexcorp\microshop\MicroCartItem;

/**
 * Prep vars required by partial '_checkout':
 * - $cart
 * - $items
 * - $delivery
 * - $total
 * - $invAddress
 * - $delAddress
 */
$cartVatValue = $invoice->vatValue();
$items = $invoice->items();
$cartTotal = 0;
foreach ($items as $item){
	$cartTotal += $item->price();
}
$cartVat = $cartTotal * $cartVatValue;
$delivery = $invoice->deliveryService();
$total = $invoice->total();
$invAddress = $invoice->billing();
$delAddress = $invoice->delivery();
if($delAddress->blank()){
	$delAddress = $invAddress;
}
?><!DOCTYPE html>
<html>
	<head>
		<title>PDF Layout</title>
	</head>
	<body>
		<div class="container">
			<header>
				<h1>2-bissen PDF</h1>
			</header>
			<section class="content">
				<?php echo $this->partial('shop/_checkout')?>
			</section>
			<footer>
			</footer>
		</div>
	</body>
</html>