<?php
use supervillainhq\core\locale\CurrencyFormatter;
textdomain('cart');

$tokenKey = $this->security->getTokenKey();
$token = $this->security->getToken();
?><section id="product-details">
	<article class="product product-description">
		<h2>2-Bissen wobler, grøn ryg</h2>
		<p><img alt="" src="/files/products/woblers/2bissen.green.jpg"></p>
		<div>
			<p>Dette er produktbeskrivelsen for den grønne 2-bissen wobler</p>
		</div>
		<section class="product-form">
			<p>Køb 2-bissen wobler (2bsn-green)</p>
			<form method="post" action="/shop/addItem">
				<table class="product-addtocart-table">
					<tr>
						<td>
							<input type="number" name="product[amount]" value="1">
						</td>
						<td>
							<a href="#add_item" title="<?php echo _('Add to cart')?>">
								<i class="fa fa-cart-arrow-down"></i>
							</a>
						</td>
						<td>
							<?php echo CurrencyFormatter::money(10000)?> (inc. VAT)
						</td>
					</tr>
				</table>
				<input type="hidden" name="product[id]" value="2"/>
				<input type="hidden" name="back" value="shop"/>
				<input type="hidden" name="<?php echo $tokenKey?>" value="<?php echo $token?>"/>
			</form>
		</section>
	</article>
	<article class="product product-description">
		<h2>2-Bissen wobler, sort ryg</h2>
		<p><img alt="" src="/files/products/woblers/2bissen.silver.jpg"></p>
		<p>Dette er produktbeskrivelsen for den sorte 2-bissen wobler</p>
		<p>Her skal gerne være et par billeder</p>
		<section class="product-form">
			<p>Køb 2-bissen wobler (2bsn-black)</p>
			<form method="post" action="/shop/addItem">
				<table class="product-addtocart-table">
					<tr>
						<td>
							<input type="number" name="product[amount]" value="1">
						</td>
						<td>
							<a href="#add_item" title="<?php echo _('Add to cart')?>">
								<i class="fa fa-cart-arrow-down"></i>
							</a>
						</td>
						<td>
							<?php echo CurrencyFormatter::money(10000)?> (inc. VAT)
						</td>
					</tr>
				</table>
				<input type="hidden" name="product[id]" value="3"/>
				<input type="hidden" name="back" value="shop"/>
				<input type="hidden" name="<?php echo $tokenKey?>" value="<?php echo $token?>"/>
			</form>
		</section>
	</article>
	<article class="product product-description">
		<h2>2-Bissen wobler, orange ryg</h2>
		<p><img alt="" src="/files/products/woblers/2bissen.orange.jpg"></p>
		<p>Dette er produktbeskrivelsen for den orange 2-bissen wobler</p>
		<section class="product-form">
			<p>Køb 2-bissen wobler (2bsn-orange)</p>
			<form method="post" action="/shop/addItem">
				<table class="product-addtocart-table">
					<tr>
						<td>
							<input type="number" name="product[amount]" value="1">
						</td>
						<td>
							<a href="#add_item" title="<?php echo _('Add to cart')?>">
								<i class="fa fa-cart-arrow-down"></i>
							</a>
						</td>
						<td>
							<?php echo CurrencyFormatter::money(10000)?> (inc. VAT)
						</td>
					</tr>
				</table>
				<input type="hidden" name="product[id]" value="3"/>
				<input type="hidden" name="back" value="shop"/>
				<input type="hidden" name="<?php echo $tokenKey?>" value="<?php echo $token?>"/>
			</form>
		</section>
	</article>
</section>
<?php echo $this->partial('shop/_cart')?>
<script type="text/javascript">
$(document).ready(function(){
	$('a[href="#add_item"]').click(function(event){
		event.stopPropagation();
		event.preventDefault();
		var anchor = $(event.target).parent();
		anchor.closest('form').submit();
		return false;
	});
});
</script>
