<?php
?><section id="inventory-content">
	<h2>2-bissen Administration, Images</h2>
	<table id="images" style="width: 660px;">
		<thead>
			<tr>
				<th>ID</th>
				<th>Image Preview</th>
				<th>Image Name</th>
				<th>Options</th>
			</tr>
		</thead>
		<tbody>
			<?php foreach ($images as $fileAsset):?>
			<tr>
				<td><?php echo $fileAsset->id()?></td>
				<td><img alt="" src="<?php echo $fileAsset->url()?>" width="60"></td>
				<td><?php echo $fileAsset->name()?></td>
				<td>
					<ul>
						<li><a href="/admin/assets/edit/<?php echo $fileAsset->id()?>">edit</a></li>
					</ul>
				</td>
			</tr>
			<?php endforeach;?>
		</tbody>
	</table>
</section>