<?php
?><section id="inventory-content">
	<h2>2-bissen Administration, Upload a new image</h2>
	<form method="post" action="/admin/files/upload" enctype="multipart/form-data">
		<dl class="shipment">
			<dd><input type="file" name="files" accept="image/*"></dd>
			<dd><input type="submit" value="upload image"></dd>
		</dl>
		<input type="hidden" name="<?php echo $this->security->getTokenKey() ?>" value="<?php echo $this->security->getToken() ?>"/>
	</form>
</section>
<script type="text/javascript">
$(document).ready(function(){
	$('input[name="alternate_delivery_address"]').click(function(event){
		$checkbox = $(event.target);
		if($checkbox.is(':checked')){
			$('#delivery_address').show();
		}
		else{
			$('#delivery_address').hide();
		}
	});

	$('a[href="#payment"]').click(function(event){
		event.stopPropagation();
		event.preventDefault();
		$anchor = $(event.target);
		$('form[action="/shop/order"]').submit();
		return false;
	});
});
</script>