<?php
?><section id="inventory-content">
	<h2>2-bissen Administration, Add shipment</h2>
	<p>Register a batch of new products</p>
	<form method="post" action="/admin/inventory/create_shipment">
		<dl class="shipment">
			<dt>Product</dt>
			<dd>
				<select name="shipment[product_id]">
					<option value="1">Grøn 2-bissen</option>
					<option value="2">Sort 2-bissen</option>
				</select>
			</dd>
			<dt>Amount</dt>
			<dd><input type="number" name="shipment[amount]"></dd>
			<dd><input type="submit" value="create shipment"></dd>
		</dl>
	</form>
</section>