<?php
$inventory = $this->shop->inventory();
?><section id="inventory-content">
	<h2>2-bissen Administration, Inventory</h2>
	<p>(storages: <?php echo $this->shop->listInventoryNames()?>)</p>
	<ul id="inventories">
		<?php foreach ($inventory->storages() as $storage):?>
		<li>
			<article>
				<h3><?php echo $storage->name()?> Status</h3>
				<p><?php echo $storage->currentTotal()?></p>
			</article>
		</li>
		<?php endforeach;?>
	</ul>
</section>