<?php
?><section id="inventory-content">
	<h2>2-bissen Administration, Shipments</h2>
	<p>All the products that has ever been added</p>
	<table id="inventory-shipments">
		<thead>
			<tr>
				<th>Date</th>
				<th>Unique Shipment-ID</th>
				<th>Amount (current/original)</th>
				<th>Product</th>
			</tr>
		</thead>
		<tbody>
			<?php foreach ($storedShipments as $storage => $shipments):?>
			<tr>
				<th colspan="4"><?php echo $storage?></th>
			</tr>
				<?php foreach ($shipments as $shipment):?>
				<tr>
					<td><?php echo $shipment->created()?></td>
					<td><?php echo $shipment->hash()?></td>
					<td><?php echo $shipment->currentAmount()?>/<?php echo $shipment->originalAmount()?></td>
					<td><?php echo $shipment->product()?></td>
				</tr>
				<?php endforeach;?>
			<?php endforeach;?>
		</tbody>
	</table>
</section>