<section id="breadcrumbs">
	<a href="/admin/catalogue"><i class="fa fa-shopping-bag"></i> ...back to Catalogue page</a>
</section>
<section id="inventory-content">
	<form method="post" action="/admin/tags/store">
		<article id="tag" class="edit">
			<h2>Create tag</h2>
				<dl>
					<dt>Name</dt>
					<dd><input type="text" name="tag[name]" value=""></dd>
				</dl>
		</article>
		<input type="submit" value="create">
		<input type="hidden" name="<?php echo $this->security->getTokenKey() ?>" value="<?php echo $this->security->getToken() ?>"/>
	</form>
</section>