<section id="breadcrumbs">
	<a href="/admin/catalogue"><i class="fa fa-shopping-bag"></i> ...back to Catalogue page</a>
</section>
<section id="inventory-content">
	<?php if(isset($tag)):?>
	<form method="post" action="/admin/tags/update/<?php echo $tag->id()?>">
		<article id="tag" class="edit">
			<h2>Edit <?php echo $tag->name()?></h2>
				<dl>
					<dt>ID</dt>
					<dd><input type="number" name="tag[id]" value="<?php echo $tag->id()?>" readonly="readonly"></dd>
					<dt>Name</dt>
					<dd><input type="text" name="tag[name]" value="<?php echo $tag->name()?>"></dd>
				</dl>
		</article>
		<?php if(isset($products) && !empty($products)):?>
		<article id="tag-products" class="edit">
			<h2>Products using this tag &#39;<?php echo $tag->name()?>&#39;</h2>
			<table>
				<thead>
					<tr>
						<th>Included</th>
						<th>Product</th>
					</tr>
				</thead>
				<tbody>
				<?php foreach ($products as $product):?>
					<tr>
						<td>
							<input type="checkbox" checked="checked" title="Un-check to exclude '<?php echo $product->name()?>' from '<?php echo $tag->name()?>'">
						</td>
						<td><?php echo $product->name()?></td>
					</tr>
				<?php endforeach;?>
				</tbody>
			</table>
		</article>
		<?php endif;?>
		<input type="submit" value="update">
		<input type="hidden" name="<?php echo $this->security->getTokenKey() ?>" value="<?php echo $this->security->getToken() ?>"/>
	</form>
	<?php endif;?>
</section>