<nav id="main">
	<ul>
		<li><a title="Home" href="/admin"><i class="fa fa-home"></i> Home</a></li>
		<li><a title="Catalogue" href="/admin/catalogue"><i class="fa fa-shopping-bag"></i> Catalogue</a></li>
		<li><a title="Sales" href="/admin/sales"><i class="fa fa-pie-chart"></i> Sales</a></li>
		<li><a title="Cart settings" href="/admin/cart"><i class="fa fa-shopping-cart"></i> Cart settings</a></li>
		<li><a title="Files, images" href="/admin/files"><i class="fa fa-files-o"></i> Files, images</a></li>
	</ul>
</nav>