<?php if(!empty($menu)):?>
<nav id="secondary-menu">
	<ul>
		<?php foreach ($menu as $item):?>
		<li><a href="<?php echo $item->url?>"><?php echo $item->name?></a></li>
		<?php endforeach;?>
	</ul>
</nav>
<?php endif;?>