<?php echo $this->shopfront->partial('shop/_cart', ['size' => 'small', 'float' => 'right'])?>
<section class="frontslider-container">
	<ul id="light-slider">
		<li class="slider-item">
			{{{html}}}
		</li>
	</ul>
</section>


<script type="text/javascript">
var slides = <?php echo $slides?>;

function loadSlide(data, node){
	var template = node.html();
	template = Mustache.render(template, data);
	node.html(template);
}

$(document).ready(function(){
	var lightslider = $("#light-slider");
	var template = $('.slider-item');
	template.detach();
	for(var k in slides){
		var slide = slides[k];
		var clone = template.clone();
		loadSlide(slide, clone);
		lightslider.append(clone);
	}

	var options = {
		gallery:false,
		auto:true,
		loop:true,
		pause: 8000,
		slideMargin: 0,
		item:1,
		pauseOnHover: true
	};

	lightslider.lightSlider(options);
});
</script>
