<nav id="catalogue-menu" class="big">
	<ul>
		<li><a title="Products" href="/admin/catalogue/products"><i class="fa fa-cubes"></i> Products</a></li>
		<li><a title="Categories" href="/admin/catalogue/categories"><i class="fa fa-bars"></i> Categories</a></li>
		<li><a title="Options" href="/admin/catalogue/options"><i class="fa fa-cogs"></i> Options</a></li>
	</ul>
</nav>