<section id="transactions-content">
	<h2>Transactions</h2>
	<?php echo $this->partial('transactions/_menu')?>
	<table id="transactions" style="width: 660px;">
		<thead>
			<tr>
				<th>ID</th>
				<th>Gateway</th>
				<th>Gateway-transaction-ID</th>
				<th>Transaction status</th>
				<th>Options</th>
			</tr>
		</thead>
		<tbody>
			<?php
			foreach ($transactions as $transaction):?>
			<tr>
				<td><?php echo $transaction->id()?></td>
				<td><?php echo $transaction->gateway()->name()?></td>
				<td><?php echo $transaction->gatewayTransactionID()?></td>
				<td><?php echo $transaction->status()?></td>
				<td>
					<ul>
						<li><a href="/admin/transactions/view/<?php echo $transaction->id()?>">view</a></li>
						<li><a href="/admin/transactions/capture/<?php echo $transaction->id()?>">capture</a></li>
					</ul>
				</td>
			</tr>
			<?php endforeach;?>
		</tbody>
	</table>
</section>