<section id="breadcrumbs">
	<a href="/admin/sales"><i class="fa fa-pie-chart"></i> ...back to Sales main page</a>
</section>
<section id="transaction-content">
	<?php if(isset($transaction)):?>
	<article id="transaction" class="edit">
		<h2>View transaction #<?php echo $transaction->id()?></h2>
		<dl>
			<dt>Gateway</dt>
			<dd><?php echo $transaction->gateway()->name()?></dd>
			<dt>Gateway-transaction-ID</dt>
			<dd><?php echo $transaction->gatewayTransactionID()?></dd>
			<dt>Status</dt>
			<dd><?php echo $transaction->status()?></dd>
		</dl>
	</article>
	<?php endif;?>
</section>