<?php
textdomain('site')
?><!DOCTYPE html>
<html>
	<head>
		<?php echo $this->tag->getTitle()?>
		<style type="text/css">
			@import url('/css/fonts.css');
			@import url('/css/reset.css');
			@import url('/css/default.css');
			@import url('/css/cart.css');
		</style>
		<?php echo $this->cmsclient->styles()?>
		<?php echo $this->cmsclient->scripts('head')?>
		<meta name="viewport" content="width=device-width">
	</head>
	<body>
		<div class="container">
			<header>
				<h1>Microshop test app</h1>
				<?php echo $this->partial('menu/header')?>
			</header>
			<?php echo $this->partial('menu/main')?>
			<section class="content">
			<?php echo $this->getContent()?>
			</section>
			<footer>
				<?php echo $this->partial('footer')?>
			</footer>
		</div>
		<div class="cookie_container"></div>
		<?php echo $this->cmsclient->scripts('footer')?>
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-72971813-1', 'auto');
			ga('send', 'pageview');
		</script>
		<script>
			window.cookieconsent_options = {
					message: 'Dette website bruger cookies for at forbedre din oplevelse.',
					dismiss: 'Ok',
					link: '/cookies',
					learnMore: '...mere information',
					theme: '/css/light-bottom.css',
					container: '.cookie_container'
			}
		</script>
		<script type="text/javascript" src="/js/cookieconsent.min.js"></script>
	</body>
</html>