<nav id="catalogue-menu" class="big">
	<ul>
		<li><a title="Products" href="/admin/catalogue/products"><i class="fa fa-cubes"></i> Products</a></li>
		<?php if($inventoryEnabled):?>
		<li><a title="Inventory" href="/admin/catalogue/inventory"><i class="fa fa-building"></i> Inventory</a></li>
		<?php endif?>
		<li><a title="Categories" href="/admin/catalogue/categories"><i class="fa fa-bars"></i> Categories</a></li>
		<?php switch($inventoryEnabled):
				case 'tags':?>
		<li><a title="Tags" href="/admin/catalogue/tags"><i class="fa fa-tags"></i> Tags</a></li>
		<?php break;
				case 'categories':?>
		<?php break;?>
		<?php endswitch;?>
		<li><a title="Options" href="/admin/catalogue/options"><i class="fa fa-cogs"></i> Options</a></li>
	</ul>
</nav>