<section id="breadcrumbs">
	<a href="/admin/catalogue"><i class="fa fa-shopping-bag"></i> ...back to Catalogue main page</a>
</section>
<section id="inventory-content">
	<h2><i class="fa fa-bars"></i> Product Categories</h2>
	<p>These categories will structure the webshop browsing.</p>
	<?php if(isset($categories)):?>
		<table class="treetable">
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Products (count)</th>
					<th><i class="fa fa-cogs"></i> Options</th>
				</tr>
			</thead>
			<tbody>
				<?php foreach ($categories as $category):
					$ttParent = '';
					if($parent = $category->parentCategory()){
						$ttParent = " data-tt-parent-id=\"cat_{$parent->id()}\"";
					}
				?>
					<tr data-tt-id="cat_<?php echo $category->id()?>"<?php echo $ttParent?>>
						<td><?php echo $category->name()?></td>
						<td><?php echo $category->description()?></td>
						<td><?php echo count($category->products())?></td>
						<td>
							<ul class="options">
								<li>
									<a title="Edit this information" href="/admin/categories/edit/<?php echo $category->id()?>"><i class="fa fa-wrench"></i></a>
								</li>
								<li>
									<a title="Remove the category '<?php echo $category->name()?>'" href="/admin/categories/remove/<?php echo $category->id()?>"><i class="fa fa-trash-o"></i></a>
								</li>
							</ul>
						</td>
					</tr>
				<?php endforeach?>
			</tbody>
			<tfoot>
				<tr>
					<th colspan="4">
						<ul class="options">
							<li><a title="import list" href="#"><i class="fa fa-upload"></i></a></li>
							<li><a title="export list" href="#"><i class="fa fa-download"></i></a></li>
						</ul>
					</th>
				</tr>
			</tfoot>
		</table>
	<?php endif?>
	<p><a href="#">add new category</a></p>
</section>
<script>
	$(document).ready(function(){
		var options = {
				expandable : true,
				clickableNodeNames : true
		};
		var categoriesTable = $("table.treetable").treetable(options);
	});
</script>