<section id="breadcrumbs">
	<a href="/admin/catalogue"><i class="fa fa-shopping-bag"></i> ...back to Catalogue main page</a>
</section>
<section id="inventory-content">
	<h2>Inventory administration</h2>
	<p><i class="fa fa-truck"></i> List all shipments across Inventory storages</p>
	<ul>
		<li><a title="All shipments" href="/admin/products">All shipments</a></li>
		<li><a title="Opened shipments" href="/admin/products">Opened shipments</a></li>
		<li><a title="Depleted shipments" href="/admin/products">Depleted shipments</a></li>
	</ul>
	<h3><i class="fa fa-building"></i> Inventory</h3>
	<table>
		<thead>
			<tr>
				<th>Storage</th>
				<th>Current stock</th>
				<th>Options</th>
			</tr>
		</thead>
		<tbody>
			<?php foreach ($inventory->storages() as $storage):?>
				<tr>
					<td><?php echo $storage->name()?></td>
					<td><?php echo $storage->currentTotal()?></td>
					<td>
						<ul class="options">
							<li><a title="edit/inspect" href="#"><i class="fa fa-pencil"></i></a></li>
							<li><a title="import data" href="#"><i class="fa fa-upload"></i></a></li>
							<li><a title="export data" href="#"><i class="fa fa-download"></i></a></li>
						</ul>
					</td>
				</tr>
			<?php endforeach;?>
		</tbody>
		<tfoot>
			<tr>
				<th colspan="4">
				</th>
			</tr>
		</tfoot>
	</table>
</section>