<section id="breadcrumbs">
	<a href="/admin/catalogue"><i class="fa fa-shopping-bag"></i> ...back to Catalogue main page</a>
</section>
<section id="inventory-content">
	<h2>Catalogue options</h2>
	<table>
		<thead>
			<tr>
				<th>Option name</th>
				<th>Option value</th>
				<th>Change to...</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Use Inventory</td>
				<td><i class="fa <?php echo $inventoryEnabled ? 'fa-check-square-o' : 'fa-square-o'?>"></i></td>
				<td>(call for support)</td>
			</tr>
		</tbody>
	</table>
</section>