<?php
?>
<section id="breadcrumbs">
	<a href="/admin/catalogue"><i class="fa fa-shopping-bag"></i> ...back to Catalogue main page</a>
</section>
<section id="inventory-content">
	<h2><i class="fa fa-cubes"></i> Products in your Catalogue</h2>
	<p>These are the product descriptions that will be displayed in your webshop.</p>
	<?php if($inventoryEnabled):?>
		<p>Your inventory will automatically control availability of these products on your website.</p>
		<?php else:?>
		<p>Your shop does not use an inventory, so you have an endless supply of these products.</p>
	<?php endif?>
	<?php if(isset($products)):?>
		<table>
			<thead>
				<tr>
					<th>Active</th>
					<th>Name</th>
					<th>Color</th>
					<th><i class="fa fa-cogs"></i> Options</th>
				</tr>
			</thead>
			<tbody>
				<?php foreach ($products as $product):?>
					<tr>
						<td><i class="fa <?php echo $product->active() ? 'fa-check-square-o' : 'fa-square-o'?>"></i></td>
						<td><?php echo $product->name()?></td>
						<td><?php echo $product->color()->name()?></td>
						<td>
							<ul class="options">
								<li>
									<a title="Edit this information" href="/admin/products/edit/<?php echo $product->id()?>"><i class="fa fa-wrench"></i></a>
								</li>
								<li>
									<a title="Remove the product '<?php echo $product->name()?>'" href="/admin/products/remove/<?php echo $product->id()?>"><i class="fa fa-trash-o"></i></a>
								</li>
							</ul>
						</td>
					</tr>
				<?php endforeach?>
			</tbody>
			<tfoot>
				<tr>
					<th colspan="4">
						<ul class="options">
							<li><a title="import list" href="#"><i class="fa fa-upload"></i></a></li>
							<li><a title="export list" href="#"><i class="fa fa-download"></i></a></li>
						</ul>
					</th>
				</tr>
			</tfoot>
		</table>
	<?php endif?>
	<p><a href="#">add new product</a></p>
</section>