<?php
?>
<section id="breadcrumbs">
	<a href="/admin/catalogue"><i class="fa fa-shopping-bag"></i> ...back to Catalogue main page</a>
</section>
<section id="inventory-content">
	<h2><i class="fa fa-bars"></i> Tags</h2>
	<p>These tags can be used to decorate products in the webshop, so the products can be searched for.</p>
	<?php if(isset($tags)):?>
		<table class="treetable">
			<thead>
				<tr>
					<th>Name</th>
					<th><i class="fa fa-cogs"></i> Options</th>
				</tr>
			</thead>
			<tbody>
				<?php foreach ($tags as $tag):?>
					<tr>
						<td><?php echo $tag->name()?></td>
						<td>
							<ul class="options">
								<li>
									<a title="Edit this information" href="/admin/tags/edit/<?php echo $tag->id()?>"><i class="fa fa-wrench"></i></a>
								</li>
								<li>
									<a title="Remove the tag '<?php echo $tag->name()?>'" href="/admin/tags/remove/<?php echo $tag->id()?>"><i class="fa fa-trash-o"></i></a>
								</li>
							</ul>
						</td>
					</tr>
				<?php endforeach?>
			</tbody>
			<tfoot>
				<tr>
					<th colspan="2">
						<ul class="options">
							<li><a title="import list" href="#"><i class="fa fa-upload"></i></a></li>
							<li><a title="export list" href="#"><i class="fa fa-download"></i></a></li>
						</ul>
					</th>
				</tr>
			</tfoot>
		</table>
	<?php endif?>
	<p><a href="/admin/tags/create">add new tag</a></p>
</section>