<?php
$action = $promotion->id() ? "/admin/promotions/update/{$promotion->id()}" : '/admin/promotions/store';
$label = $promotion->id() ? 'update' : 'create';
$title = $promotion->id() ? "Edit {$promotion->title()}" : 'Create new promotion';
$tokenKey = $this->security->getTokenKey();
$token = $this->security->getToken();
?><section id="breadcrumbs">
	<a href="/admin/sales"><i class="fa fa-pie-chart"></i> ...back to Sales main page</a>
</section>
<section id="inventory-content">
	<?php if(isset($promotion)):?>
	<article id="promotion" class="edit">
		<h2><?php echo $title?></h2>
		<form method="post" action="<?php echo $action?>">
			<dl>
				<?php if($promotion->id()):?>
					<dt>ID</dt>
					<dd><input type="number" name="promotion[id]" value="<?php echo $promotion->id()?>" readonly="readonly"></dd>
				<?php endif;?>
				<dt>Title</dt>
				<dd><input type="text" name="promotion[title]" value="<?php echo $promotion->title()?>"></dd>
				<dt>Starts</dt>
				<dd>
					<input type="datetime" name="promotion[start]" value="<?php echo $promotion->start()?>">
					(server time)
				</dd>
				<dt>Ends</dt>
				<dd>
					<input type="datetime" name="promotion[end]" value="<?php echo $promotion->end()?>">
					(server time)
				</dd>
				<dt>Rebate</dt>
				<dd>
					<input type="number" name="promotion[rebate]" value="<?php echo $promotion->rebate()?>">
					(percentage 0 - 100)
				</dd>
			</dl>
			<input type="submit" value="<?php echo $label?>">
			<input type="hidden" name="<?php echo $tokenKey?>" value="<?php echo $token?>"/>
		</form>
	</article>
		<?php if($promotion->id()):?>
		<article id="promotion-products" class="edit">
			<h2>Products included in this Promotion</h2>
			<form method="post" action="/admin/promotions/updateproducts/<?php echo $promotion->id()?>">
				<section>
					<?php if(isset($availableProducts)):?>
						<?php foreach ($availableProducts as $product):?>
							<article class="product promotion-product">
								<dl>
									<dt>
										<input type="checkbox">
									</dt>
									<dd>
										<?php echo $product->name()?>
									</dd>
								</dl>
							</article>
						<?php endforeach;?>
					<?php endif;?>
				</section>
				<input type="submit" value="update">
				<input type="hidden" name="<?php echo $tokenKey?>" value="<?php echo $token?>"/>
			</form>
		</article>
		<?php endif;?>
	<?php endif;?>
</section>
<script>
	$(document).ready(function(){
		$('input[type="datetime"]').datetimepicker();
	});
</script>