<?php
$headquarters = $this->shop->getAddress('headquarters');
?><nav id="footer-nav" class="">
	<ul>
		<li><a href="/info/contact"><?php echo _('Contact us')?></a></li>
		<?php if($this->shop->enabled()):?>
		<li><a href="/info/conditions"><?php echo _('Terms &amp; Conditions')?></a></li>
		<?php endif?>
		<li>
			<address>
				<p><?php echo $this->shop->name()?></p>
				<p><?php echo $headquarters->address1()?></p>
				<p><?php echo $headquarters->postalcode()?> <?php echo $headquarters->city()?></p>
			</address>
			<p>CVR. <?php echo $this->shop->cvr()?></p>
		</li>
	</ul>
</nav>