<?php
// $domain = "site";
// textdomain($domain);
?><nav id="main-nav" class="">
	<ul>
		<li><a href="/"><?php echo _('Home')?></a></li>
		<li><a href="/about.html"><?php echo _('About')?></a></li>
		<li><a href="/gallery.html"><?php echo _('Galleri')?></a></li>
		<?php if($this->shop->enabled()):?>
		<li><a href="/products/tags/wobler"><?php echo _('Buy')?></a></li>
		<?php endif?>
	<?php if($this->auth->sessionAuthed()):?>
		<?php if($this->auth->isAdmin()):?>
			<li><a href="/admin"><?php echo _('Administration')?></a></li>
		<?php else:?>
		<?php endif?>
	<?php endif?>
	</ul>
</nav>