<?php
$inventory = $this->shop->inventory();
?><section id="index-content">
	<h2>2-bissen Administration</h2>
	<ul id="soft-buttons">
		<li>
			<article>
				[List of pending orders]
			</article>
		</li>
		<li>
			<article>
				<h3>Inventory Status</h3>
				<p>(storages: <?php echo $this->shop->listInventoryNames()?>)</p>
				<p><?php echo $inventory->total()?>
			</article>
		</li>
	</ul>
</section>