<?php
use supervillainhq\spectre\locale\CurrencyFormatter;
textdomain('cart');

$tokenKey = $this->security->getTokenKey();
$token = $this->security->getToken();
?><section id="product-details">
	<h2>Woblere</h2>
	<?php foreach ($catalogueItems as $item):?>
	<article class="product product-description">
		<h2><?php echo $item->product()->name()?></h2>
		<p>
			<?php
			$assets = $item->assets();
			foreach ($assets as $asset):?>
			<img alt="" src="<?php echo $asset->filepath()?>">
			<?php endforeach;?>
		</p>
		<div>
			<p><?php echo $item->product()->description()?></p>
		</div>
		<section class="product-form">
			<p>Køb <?php echo $item->product()->name()?></p>
			<form method="post" action="/shop/addItem">
				<table class="product-addtocart-table">
					<tr>
						<td>
							<input type="number" name="product[amount]" value="1">
						</td>
						<td>
							<a href="#add_item" title="<?php echo _('Add to cart')?>">
								<i class="fa fa-cart-arrow-down"></i>
							</a>
						</td>
						<td>
							<?php echo CurrencyFormatter::money($item->product()->price())?> (inc. VAT)
						</td>
					</tr>
				</table>
				<input type="hidden" name="product[id]" value="<?php echo $item->product()->id()?>"/>
				<input type="hidden" name="back" value="shop"/>
				<input type="hidden" name="<?php echo $tokenKey?>" value="<?php echo $token?>"/>
			</form>
		</section>
	</article>
	<?php endforeach;?>
</section>
<?php echo $this->partial('shop/_cart')?>
<script type="text/javascript">
$(document).ready(function(){
	$('a[href="#add_item"]').click(function(event){
		event.stopPropagation();
		event.preventDefault();
		var anchor = $(event.target).parent();
		anchor.closest('form').submit();
		return false;
	});
});
</script>
